<!DOCTYPE html>
<html>
<head>
</head>
<body>
	<div class="container">
	<h1>Scram - It's time to go!</h1>
	<p>Do you feel the need to travel, but don't have the means? </p><br>
	<p>Do you have a vision to share, but can't get there? </p><br>
	<p>Through Scram, we offer youth the opportunity to travel with grants provided by the community.<br> Look at our Submissions page.  If you are a young person with a mission, please sign up and share a video essay about where you want to go and what volunteer opportunity you are interested in.  Your submission will be live for one month.  Share your submission via social media, with your friends, family and colleagues.<br>  Get votes! Get Donations!  The youth with the most votes, will receive the donations for that month.</p>
	<p>Requirements: </p><br>
	<p>Must be between 16 and 21 years of age</p>
	<p>Must be willing and able to travel within 1 year of winning</p>
	<p>Must have a valid volunteer opportunity at your travel destination</p>
	<p>Share your experience by blogging and sharing photos about your experience</p>
	
	<div class="container">
  <%= yield %>
	</div>
</body>
</html>