.about{
	background: url('http://s16.postimg.org/5yrebvgyd/trailjohnrock1_2.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;

}

.layout-transparent .mdl-layout__header,
.layout-transparent .mdl-layout__drawer-button {
 
  color: black;
}
.jumbotron{
	margin-top: 80px;
	opacity: 0.90;
	font-weight: 450px;	
}

.mdl-layout__content {
	z-index: 0;
}

.mdl-layout__drawer{
	font-size: 24px;
}