body{
	
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;

}

.jumbotron{
	margin-top: 80px;
	opacity: 0.90;
	font-weight: 450px;	
}

.mdl-layout__content {
	z-index: 0;
}

.mdl-layout__drawer{
	font-size: 24px;
}