body{
	background: url("http://s8.postimg.org/8ijtk4b0l/trailjohnrock1.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;

}

.jumbotron{
	margin-top: 80px;
	opacity: 0.85;
	font-weight: 450px;	
}

.mdl-layout__drawer{
	font-size: 24px;
}