body{
	background: url("http://s11.postimg.org/or887hwf7/trailjohnrock1_2.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;

}

.jumbotron{
	margin-top: 80px;
	opacity: 0.90;
	font-weight: 450px;	
}

.mdl-layout__drawer{
	font-size: 24px;
}